body {
   background-color: #f6f7d4;
}

.howtocontact{
  color:#28df99;
  font-style: Arial, Helvetica, sans-serif;
  text-align: center;
}
.paracontact{
  color: #158467;
  font-style: italic;
  text-align: center;
}
.wpcf7{
  text-align: center;
}
.pap{
  text-align: center;
}
