body{
   background-color:#d2f6c5;
   margin: 0px;
}
.nav-bar{
  justify-content: space-between;
}
.left-side{
   text-align: left;
   margin-left: 100px;
   font-size: 1em;
}
.right-side{
   display: flex;
   text-align: right;
   margin-left: 1250px;

}
.nav-bar > .right-side > div {
      margin-left: 30px;
      font-size: 1.5em;

}
.nav-link-bar{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-bar a{
     color: #463333;
     text-decoration: none;
     transition: color 0.5s;
}
.nav-link-bar:hover {
    border-bottom: 1px solid black;
}
.nav-link-bar a:hover {
    color: black;
}
.content {
  font-size:2em;
  font-style: italic;
  font-family: fantasy;
  color: red;
}
.brand{
  margin-top: 40px;
   font-size: 3.5em;
   color: #463333;
}

.navbar {
  background-color: #463333;
  font-family: Arial;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 1.5em;
  color: #463333;

}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  background-color: #7579e7;
  color: #463333;
  font-size: 20px;

  border: none;
  cursor: pointer;

}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#463333 ;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.wpcf7 input[type="text"],
 .wpcf7 input[type="email"],

 textarea {
     font-size: 16px;
     background-color: #f5f5f5;
     border: none;
     width: 95%;
     padding: 2%;
 }
 .wpcf7 input[type="submit"] {
     color: #ffffff;
     font-size: 18px;
     font-weight: 700;
     background: #E2272E;
     padding: 15px 25px 15px 25px;
     border: none;
     border-radius: 5px;
     width: auto;
     text-transform: uppercase;
     letter-spacing: 5px;
 }
 .wpcf7 input:hover[type="submit"] {
     background: #494949;
     transition: all 0.4s ease 0s;
 }
 .wpcf7 input:active[type="submit"] {
     background: #000000;
 }
 .pendulum{

 }
